.tolo:hover{
    color: tomato;
    cursor:pointer  ;
  }

  .tolo{
    font-size: 19px;
    line-height: 15px;
    font-family: sans-serif;
    font-weight: 700;
  }

  .lolo:hover{
    color: tomato;
    cursor:pointer  ;
  }
.lolo{
    color: gray;
     margin-top: 20px;    
     display: flex;   
     font-size: 20px;
     justify-content: start;   
     font-weight: 600;
     font-family: sans-serif;
     line-height: 15px;
}
.laprof{
    color: rgb(187, 32, 32);
     margin-top: 20px;    
     display: flex;   
     font-size: 20px;
     justify-content: start;   
     align-items: center;
     font-weight: 600;
     font-family: sans-serif;
     line-height: 15px;
     gap: 10px;
}